
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

.hi{

  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  
   /* background-color: yellow; */
  color: #fff;
  cursor: pointer;
  /* margin: auto; */
  /* float: right; */position: absolute;
  right: 10%;
  top: 7%;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
  }
  
  nav{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* position: relative; */
  padding: 2% 2% 5% 2%;
  height: fit-content;
  }
  
  .card {
    margin-bottom: 20px;
    /* margin-top: 20px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .child {
    padding: 20px;
  }
  
  .child1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 34px;
  }
  
  .card-text {
    font-size: 14px;
    color: #666;
  }
  
  .child2 {
    font-size: 16px;
    font-weight: bold;
    /* font-style: normal; */
    margin-bottom: 20px;
    color: #666;
  }
  
  .btn {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }

  .childOne{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
    gap: 3%;
  }
 
  .child3 {
    font-size: 16px;
    color: #666;
  }
  #inputfeild{
height:50%;
width: 100%;
border-radius: 10%;

  }
 




  @media (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }

    .hi{

      font-size: 14px;
      padding: 2px 5px;
      border: none;
      border-radius: 5px;
      background-color: #4CAF50;
      
       /* background-color: yellow; */
      color: #fff;
      cursor: pointer;
      /* margin: auto; */
      /* float: right; */position: absolute;
      right: 5%;
      top: 7%;
    }
    .nav{
      padding-bottom: 10%;
    }
  }